.lesson-container {
  background: url("../../../assets/mt-hood.jpg") center center/cover no-repeat;
  height: 100vh;
  width: 100%;
  opacity: 0.7;
  display: flex;
  padding: 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.lesson-container > h1,
h2 {
  text-align: center;
  margin-top: -50px;
  padding-top: 80px;
}

.lesson-container > small {
  color: #220901;
  font-size: 32px;
  font-weight: bold;
}

.lesson-container > p {
  margin-top: 8px;
  color: #242424;
  font-weight: bold;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.lesson-btns {
  margin-top: 32px;
}

.lesson-btns .btn {
  margin: 6px;
}

@media screen and (max-width: 960px) {
  .lesson-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .lesson-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .lesson-container > p {
    font-size: 30px;
  }

  .btn {
    width: 100%;
  }
}
