
.Board {
    height: 780px;
    width: 780px;
    padding: 5px;
    background-color: #F46036;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    outline: 1px ridge;
  }